.table {
    width: 100%;
    overflow-x: auto;
    border: 1px solid var(--color-border);
    border-radius: 5px;
    margin-top: 30px;
    overflow-y: hidden;

    &-tooltip {
        position: absolute;
        background-color: #fff;
        width: 200px;
        
       right: 25px;
        z-index: 10;
        border-radius: 5px;
        box-shadow: 0px 30px 60px 0px #20385526;


        &-info {
            font-size: 12px;
            color: #3C91E6;
            margin-left: 10px;
        }

        &-delete {
            font-size: 12px;
            color: #CA1551;
            margin-left: 10px;
        }
    }

}
.showOption{
    position: relative;
}
.hide-tooltip{
    display: none;
}



table {
    width: 100%;
    font-size: 14px;
    color: var(--color-text-secondary);
    padding: 20px;


}

thead {
    color: #262C55;
    border-bottom: 1px solid var(--color-border);
    border-bottom: none !important;
}

tbody {
    color: var(--color-text-secondary);
}

th {
    font-weight: 400;
}

td {
    vertical-align: middle;
    text-align: left;
    padding: 8px;


}

tr {
    border-bottom: 1px solid var(--color-border);
    cursor: pointer;
    height: 70px;
    vertical-align: middle;
}

/* tr:nth-child(even) {
        background-color: #fff;
      }
      tr:hover {
        background-color: #ccc;
      } */

.tabletab {
    width: 100%;
    margin-bottom: 30px;
    margin-top: 30px;

}

.tTabs-items {
    display: flex;
    gap: 100px;
    border-bottom: 1.5px solid var(--color-border);
    justify-content: flex-start;
}

.tab-active {
    color: #3D79EF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    border-bottom: 2px solid #3D79EF;
    padding-bottom: 1px;
}

.tTab-btn {
    border: 1px solid #3D79EF;
    padding: 5px 10px;
    border-radius: 5px;
    color: #3D79EF;
}

.pagination {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 20px 0;
    font-size: 20px;
    gap: 10px;
  }
  
  .pagination .page-num {
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 600;
    color: var(--color-lightBlue);
    border: 1px solid var(--color-lightBlue);
  }
  
  .pagination .page-prev {
    padding:12px 15px;
    cursor: pointer;
    border-radius: 50%;
    font-weight: normal;
    color:#011B33B2;
    border: 1px solid #011B33B2;
  }
  .pagination .page-disabled {
   opacity: 0.6;
  }
  
  .pagination .page-num:hover {
   
  }
  .pagination .active {
    color: #fff;
    background: var(--color-lightBlue) !important;
  }