.table {
    width: 100%;
    overflow-x: auto;
    border: 1px solid var(--color-border);
    border-radius: 5px;
    margin-top: 30px;
    overflow-y: hidden;

    &-tooltip {
        position: absolute;
        background-color: #fff;
        width: 200px;
        
       right: 25px;
        z-index: 10;
        border-radius: 5px;
        box-shadow: 0px 30px 60px 0px #20385526;


        &-info {
            font-size: 12px;
            color: #3C91E6;
            margin-left: 10px;
        }

        &-delete {
            font-size: 12px;
            color: #CA1551;
            margin-left: 10px;
        }
    }

}
.showOption{
    position: relative;
}
.hide-tooltip{
    display: none;
}

.modal-container{
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
}

.modal-content{
    height: 70vh;
    justify-content: space-between;
}
.btn-close{
    background-color: #E0E5F2;
    border-radius: 50%;

}


table {
    width: 100%;
    font-size: 14px;
    color: var(--color-text-secondary);
    padding: 20px;


}

thead {
    color: #262C55;
    border-bottom: 1px solid var(--color-border);
    border-bottom: none !important;
}

tbody {
    color: var(--color-text-secondary);
}

th {
    font-weight: 400;
}

td {
    vertical-align: middle;
    text-align: left;
    padding: 8px;


}

tr {
    border-bottom: 1px solid var(--color-border);
    cursor: pointer;
    height: 70px;
    vertical-align: middle;
}

/* tr:nth-child(even) {
        background-color: #fff;
      }
      tr:hover {
        background-color: #ccc;
      } */

.tabletab {
    width: 100%;
    margin-bottom: 30px;
    margin-top: 30px;

}

.tTabs-items {
    display: flex;
    gap: 100px;
    border-bottom: 1.5px solid var(--color-border);
    justify-content: flex-start;
}

.tab-active {
    color: #3D79EF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    border-bottom: 2px solid #3D79EF;
    padding-bottom: 1px;
}

.tTab-btn {
    border: 1px solid #3D79EF;
    padding: 5px 10px;
    border-radius: 5px;
    color: #3D79EF;
}