.progress-chart{
    min-width: 400px;
    height: 320px;
    border: 1px solid var(--color-border);
    border-radius: 5px;
    padding: 20px 0px;
}

.chart-circle{
    width: 150px;
    height: 150px;
}

.progress-chart-bottom{
    border-top: 1px solid var(--color-border);
    width: 100%;
    
    
}

