@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');



:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --color-sidebar: #FAFAFA;
  --color-border: #ECECEC;
  --color-text-secondary: #707070;
  --color-gradiant: linear-gradient(90deg, #3D79EF 0%, #F1A5C2 89.52%);
  --color-primary-black: #021B33;
  --color-blue: #262C55;
  --color-lightBlue: #3D79EF;

}

.text-darkblue{
  color: #021B33;
}

a {
  font-size: 13px;
  color: var(--color-text-secondary);
  text-decoration: none;

}

p {
  color: var(--color-text-secondary);
  padding: 0;
  margin: 0;
  font-size: 13px;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

label {
  color: #011b3399;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  /* 183.333% */
}

input:focus {
  outline: none;
}
select:focus {
  outline: none;
}
input, select {
  border-radius: 8px;
  border: 0.5px solid rgba(1, 27, 51, 0.18);
  background: rgba(1, 27, 51, 0.03);
  padding: 0 10px;
}
a:hover {}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Merriweather', serif;
  margin: 0;
  padding: 0;
}

button {}

span {
  font-size: 14px;
  color: var(--color-primary-black);
}

button {
  background-color: #fff;
  font-size: 13px;
  border: none;
}

button:hover {}

button:focus,
button:focus-visible {}

section {
  padding: 30px 50px 60px 30px;
  
}

.--family-1{

}
.--family-2{
font-family: 'Merriweather', serif;
}

.--flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.--flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.--flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.--flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.--dir-column {
  flex-direction: column;
}

.--flex-dir-column {
  display: flex;
}

.--column-reverse {
  display: flex;
}

.--align-center {
  display: flex;
  align-items: center;
}
.--align-end {
  display: flex;
  align-items: flex-end;
}

.--block {
  display: block;
}

.--inline-block {
  display: inline-block;
}

.--width-100 {
  width: 100%;
}
.--width-90 {
  width: 90%;
}

.--width-500px {
  width: 500px;
}

.--width-300px {
  width: 300px;
}
.--b-top{
  border-top: 1.5px solid var(--color-border);
}
.--b-bottom{
  border-bottom: 1.5px solid var(--color-border);
}
.--b-left{
  border-left: 1.5px solid var(--color-border);
}
.--b-right{
  border-right: 1.5px solid var(--color-border);
}
.--relative{
  position: relative;
}

.--weight{
  font-weight: 700;
}
